*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: 100rem;
    background-attachment: fixed;
}
/* navigation */

.navbar{
    background-color: rgba(242, 237, 237, 0.889);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px;
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: solid 0.5px black;
}

.logo a img{
    padding-left: 50px;
    margin-top: 15px;
    height: 40px;
    text-decoration: none;
}

.logo span{
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: super;
}

.navlogo{
    font-weight: 100;
    height: 60px;
    padding:0 ;
}

.menu{
    display: flex;
    list-style: none;
    text-transform: capitalize;
    position: relative;
    right: 57rem;
    margin-top: 10px;
}

.menu li{
    margin-left: 20px;
}

.menu li a{
    text-decoration: none;
    color: black;
    font-weight: lighter;   
}

.menu li a:hover{
    color: lightseagreen
}

/* text */

.text{
    padding: 70px;
    margin: 0;
    text-align: center;
    height: 100%;
    position: relative;
    top: 70px;
    align-items: center;
    
}


.text h1{
    font-weight: 400;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(109.2deg, rgb(107, 52, 255) 16.5%, rgb(51, 159, 247) 81%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 76px;
}


/* button */

.button{
    margin: 0;
    position: absolute;
    top: 60%;
    left: 45%;

}

.button button{
  align-items: center;
  padding: 6px 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
  cursor: pointer;
}

.button button:hover{
    opacity: 0.9;
}

.button a{
    text-decoration: none;
}

.button h4{
    font-weight: lighter;
    text-align: center;
    font-size: small;
    margin-top: 10px;
    font-family: ro;
    color: rgb(60, 60, 255);
}


/* footer */

.footer{
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: rgb(0, 68, 64);
    color: white;
    text-align: center;
    line-height: 4;
    font-size: 0.8rem;
    position: absolute;
}

